binaries/
*.swp
/dev_image/floppy/
floppy.img
*.csx/
[Oo]bj
[Bb]in
[Pp]ackages
*.suo
*.user
*.secrets.ps1
**/csx
**/rcf
Upgradelog*.htm
*web.config.backup.1*
*App_Data*
*.DotSettings
TestResult.xml
*.ncb
*.obj
*_h.h
*_s.c
*_c.c
extendedversion.res
version.*
NotificationInterop.h
*.tlh
*.tli
src/CloudConnector/Production/EBI/CloudConnectorDb/hns/historybackfillqueue.tst.exe
*.orig
src/CloudPlatform/Production/Global/SystemRegistration/Cloud.Platform.Global.SytemRegistration.Web/app.log
*.log
CommonAssemblyInfo.cs
*.DotSettings
build/gitversion.json
build/output.json
build/gitversion.log
**/GitVersion.CommandLine*/*
*.tmp
applicationhost.config
*.TestResult.xml
**/acscp.bulldog.build.powershell*/*
*.html
*.playlist

src/CloudPlatform/Production/WebApiClient/Cloud.Platform.WebApiClient.Rest/SwaggerJson/*.json.old
